### Load The Libraries

In [2]:
import pandas as pd # data processing
import numpy as np  # linear algebra
import matplotlib.pyplot as plt #ploting libraries
%matplotlib inline
import seaborn as sns #ploting libraries

In [3]:
# Read the Dataset
data= pd.read_csv('/home/sid/Downloads/Bondora_raw.csv', low_memory=False)

### Data Preprocessing

In [4]:
#This line of code returns the shape of the DataFrame
data.shape

(134529, 112)

In [7]:
# This line code explore the first 5 rows
data.head()

,ReportAsOfEOD,LoanId,LoanNumber,ListedOnUTC,BiddingStartedOn,BidsPortfolioManager,BidsApi,BidsManual,UserName,NewCreditCustomer,...,PreviousEarlyRepaymentsCountBeforeLoan,GracePeriodStart,GracePeriodEnd,NextPaymentDate,NextPaymentNr,NrOfScheduledPayments,ReScheduledOn,PrincipalDebtServicingCost,InterestAndPenaltyDebtServicingCost,ActiveLateLastPaymentCategory
0,2020-01-27,F0660C80-83F3-4A97-8DA0-9C250112D6EC,659,2009-06-11 16:40:39,2009-06-11 16:40:39,0,0,115.0410,KARU,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
1,2020-01-27,978BB85B-1C69-4D51-8447-9C240104A3A2,654,2009-06-10 15:48:57,2009-06-10 15:48:57,0,0,140.6057,koort681,False,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
2,2020-01-27,EA44027E-7FA7-4BB2-846D-9C1F013C8A22,641,2009-06-05 19:12:29,2009-06-05 19:12:29,0,0,319.5580,0ie,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,180+
3,2020-01-27,CE67AD25-2951-4BEE-96BD-9C2700C61EF4,668,2009-06-13 12:01:20,2009-06-13 12:01:20,0,0,57.5205,Alyona,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
4,2020-01-27,9408BF8C-B159-4D6A-9D61-9C2400A986E3,652,2009-06-10 10:17:13,2009-06-10 10:17:13,0,0,319.5582,Kai,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,180+

In [8]:
#column information
data.info(verbose=True, null_counts=True)

/tmp/ipykernel_89499/1852882944.py:2: FutureWarning: null_counts is deprecated. Use show_counts instead
  data.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134529 entries, 0 to 134528
Data columns (total 112 columns):
 #    Column                                  Non-Null Count   Dtype
---   ------                                  --------------   -----
 0    ReportAsOfEOD                           134529 non-null  object
 1    LoanId                                  134529 non-null  object
 2    LoanNumber                              134529 non-null  int64
 3    ListedOnUTC                             134529 non-null  object
 4    BiddingStartedOn                        134529 non-null  object
 5    BidsPortfolioManager                    134529 non-null  int64
 6    BidsApi                                 134529 non-null  int64
 7    BidsManual                              134529 non-null  float64
 8    UserName                                134529 non-null  object
 9    NewCreditCustomer                       134529 non-null  bool
 10   LoanApplicationStartedDate              134529 non-null  object
 11   LoanDate                                134529 non-null  object
 12   ContractEndDate                         58983 non-null   object
 13   FirstPaymentDate                        134529 non-null  object
 14   MaturityDate_Original                   134529 non-null  object
 15   MaturityDate_Last                       134529 non-null  object
 16   ApplicationSignedHour                   134529 non-null  int64
 17   ApplicationSignedWeekday                134529 non-null  int64
 18   VerificationType                        134484 non-null  float64
 19   LanguageCode                            134529 non-null  int64
 20   Age                                     134529 non-null  int64
 21   DateOfBirth                             134529 non-null  object
 22   Gender                                  134484 non-null  float64
 23   Country                                 134529 non-null  object
 24   AppliedAmount                           134529 non-null  float64
 25   Amount                                  134529 non-null  float64
 26   Interest                                134529 non-null  float64
 27   LoanDuration                            134529 non-null  int64
 28   MonthlyPayment                          127844 non-null  float64
 29   County                                  97689 non-null   object
 30   City                                    124735 non-null  object
 31   UseOfLoan                               134529 non-null  int64
 32   Education                               134484 non-null  float64
 33   MaritalStatus                           134484 non-null  float64
 34   NrOfDependants                          35600 non-null   object
 35   EmploymentStatus                        134332 non-null  float64
 36   EmploymentDurationCurrentEmployer       133653 non-null  object
 37   EmploymentPosition                      36090 non-null   object
 38   WorkExperience                          36522 non-null   object
 39   OccupationArea                          134443 non-null  float64
 40   HomeOwnershipType                       132877 non-null  float64
 41   IncomeFromPrincipalEmployer             134529 non-null  float64
 42   IncomeFromPension                       134529 non-null  float64
 43   IncomeFromFamilyAllowance               134529 non-null  float64
 44   IncomeFromSocialWelfare                 134529 non-null  float64
 45   IncomeFromLeavePay                      134529 non-null  float64
 46   IncomeFromChildSupport                  134529 non-null  float64
 47   IncomeOther                             134529 non-null  float64
 48   IncomeTotal                             134529 non-null  float64
 49   ExistingLiabilities                     134529 non-null  int64
 50   LiabilitiesTotal                        134529 non-null  float64
 51   RefinanceLiabilities                    134529 non-null  int64
 52   DebtToIncome                            134484 non-null  float64
 53   FreeCash                                134484 non-null  float64
 54   MonthlyPaymentDay                       134529 non-null  int64
 55   ActiveScheduleFirstPaymentReached       134529 non-null  bool
 56   PlannedPrincipalTillDate                54459 non-null   float64
 57   PlannedInterestTillDate                 130587 non-null  float64
 58   LastPaymentOn                           124998 non-null  object
 59   CurrentDebtDaysPrimary                  48518 non-null   float64
 60   DebtOccuredOn                           48518 non-null   object
 61   CurrentDebtDaysSecondary                52250 non-null   float64
 62   DebtOccuredOnForSecondary               52250 non-null   object
 63   ExpectedLoss                            131893 non-null  float64
 64   LossGivenDefault                        131893 non-null  float64
 65   ExpectedReturn                          131893 non-null  float64
 66   ProbabilityOfDefault                    131893 non-null  float64
 67   DefaultDate                             42915 non-null   object
 68   PrincipalOverdueBySchedule              119692 non-null  float64
 69   PlannedPrincipalPostDefault             42915 non-null   float64
 70   PlannedInterestPostDefault              42915 non-null   float64
 71   EAD1                                    42915 non-null   float64
 72   EAD2                                    42915 non-null   float64
 73   PrincipalRecovery                       42915 non-null   float64
 74   InterestRecovery                        42915 non-null   float64
 75   RecoveryStage                           77241 non-null   float64
 76   StageActiveSince                        80954 non-null   object
 77   ModelVersion                            131893 non-null  float64
 78   Rating                                  131799 non-null  object
 79   EL_V0                                   4569 non-null    float64
 80   Rating_V0                               4569 non-null    object
 81   EL_V1                                   12922 non-null   float64
 82   Rating_V1                               12922 non-null   object
 83   Rating_V2                               25143 non-null   object
 84   Status                                  134529 non-null  object
 85   Restructured                            134529 non-null  bool
 86   ActiveLateCategory                      48518 non-null   object
 87   WorseLateCategory                       89073 non-null   object
 88   CreditScoreEsMicroL                     104955 non-null  object
 89   CreditScoreEsEquifaxRisk                12219 non-null   object
 90   CreditScoreFiAsiakasTietoRiskGrade      32518 non-null   object
 91   CreditScoreEeMini                       71722 non-null   float64
 92   PrincipalPaymentsMade                   134529 non-null  float64
 93   InterestAndPenaltyPaymentsMade          134529 non-null  float64
 94   PrincipalWriteOffs                      59129 non-null   float64
 95   InterestAndPenaltyWriteOffs             59129 non-null   float64
 96   PrincipalBalance                        134529 non-null  float64
 97   InterestAndPenaltyBalance               134529 non-null  float64
 98   NoOfPreviousLoansBeforeLoan             134529 non-null  int64
 99   AmountOfPreviousLoansBeforeLoan         134529 non-null  float64
 100  PreviousRepaymentsBeforeLoan            91368 non-null   float64
 101  PreviousEarlyRepaymentsBefoleLoan       58026 non-null   float64
 102  PreviousEarlyRepaymentsCountBeforeLoan  134529 non-null  int64
 103  GracePeriodStart                        18788 non-null   object
 104  GracePeriodEnd                          18788 non-null   object
 105  NextPaymentDate                         65644 non-null   object
 106  NextPaymentNr                           97788 non-null   float64
 107  NrOfScheduledPayments                   97788 non-null   float64
 108  ReScheduledOn                           40322 non-null   object
 109  PrincipalDebtServicingCost              59129 non-null   float64
 110  InterestAndPenaltyDebtServicingCost     59129 non-null   float64
 111  ActiveLateLastPaymentCategory           52250 non-null   object
dtypes: bool(3), float64(56), int64(14), object(39)
memory usage: 113.3+ MB

In [9]:
#summary statistics train
data.describe()

,LoanNumber,BidsPortfolioManager,BidsApi,BidsManual,ApplicationSignedHour,ApplicationSignedWeekday,VerificationType,LanguageCode,Age,Gender,...,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsBefoleLoan,PreviousEarlyRepaymentsCountBeforeLoan,NextPaymentNr,NrOfScheduledPayments,PrincipalDebtServicingCost,InterestAndPenaltyDebtServicingCost
count,1.345290e+05,134529.000000,134529.000000,134529.000000,134529.000000,134529.000000,134484.000000,134529.000000,134529.000000,134484.000000,...,134529.000000,134529.000000,134529.000000,91368.000000,58026.000000,134529.000000,97788.000000,97788.000000,59129.000000,59129.000000
mean,9.449392e+05,966.452876,29.111664,559.332590,13.374640,3.907908,2.817257,2.827874,40.819295,0.442097,...,701.567107,1.487620,2868.652401,928.395548,320.743805,0.069903,5.178795,50.126795,5.264702,89.851455
std,4.786738e+05,1355.686016,150.159148,750.360512,4.992375,1.726192,1.407908,1.959802,12.348693,0.636083,...,2514.595572,2.396148,4507.046575,2042.348751,1561.799076,0.359461,7.674427,12.519530,57.800582,287.449052
min,3.700000e+01,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,...,-2.660000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,6.206790e+05,155.000000,0.000000,96.000000,10.000000,2.000000,1.000000,1.000000,31.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,36.000000,0.000000,0.000000
50%,9.235970e+05,465.000000,0.000000,317.000000,13.000000,4.000000,4.000000,3.000000,40.000000,0.000000,...,0.000000,1.000000,396.354100,197.980000,0.000000,0.000000,3.000000,60.000000,0.000000,0.000000
75%,1.311025e+06,1218.000000,5.000000,729.000000,17.000000,5.000000,4.000000,4.000000,50.000000,1.000000,...,202.900000,2.000000,4250.000000,780.950000,0.000000,0.000000,7.000000,60.000000,0.000000,17.330000
max,1.855339e+06,10625.000000,7570.000000,10630.000000,23.000000,7.000000,4.000000,22.000000,77.000000,2.000000,...,64494.770000,25.000000,53762.000000,34077.420000,48100.000000,11.000000,60.000000,72.000000,3325.330000,5295.290000

In [24]:
# value counts of columns
for i in data:
    print(i,data[i].isnull().sum())

ReportAsOfEOD 0
LoanId 0
LoanNumber 0
ListedOnUTC 0
BiddingStartedOn 0
BidsPortfolioManager 0
BidsApi 0
BidsManual 0
UserName 0
NewCreditCustomer 0
LoanApplicationStartedDate 0
LoanDate 0
ContractEndDate 75546
FirstPaymentDate 0
MaturityDate_Original 0
MaturityDate_Last 0
ApplicationSignedHour 0
ApplicationSignedWeekday 0
VerificationType 45
LanguageCode 0
Age 0
DateOfBirth 0
Gender 45
Country 0
AppliedAmount 0
Amount 0
Interest 0
LoanDuration 0
MonthlyPayment 6685
County 36840
City 9794
UseOfLoan 0
Education 45
MaritalStatus 45
NrOfDependants 98929
EmploymentStatus 197
EmploymentDurationCurrentEmployer 876
EmploymentPosition 98439
WorkExperience 98007
OccupationArea 86
HomeOwnershipType 1652
IncomeFromPrincipalEmployer 0
IncomeFromPension 0
IncomeFromFamilyAllowance 0
IncomeFromSocialWelfare 0
IncomeFromLeavePay 0
IncomeFromChildSupport 0
IncomeOther 0
IncomeTotal 0
ExistingLiabilities 0
LiabilitiesTotal 0
RefinanceLiabilities 0
DebtToIncome 45
FreeCash 45
MonthlyPaymentDay 0
ActiveScheduleFirstPaymentReached 0
PlannedPrincipalTillDate 80070
PlannedInterestTillDate 3942
LastPaymentOn 9531
CurrentDebtDaysPrimary 86011
DebtOccuredOn 86011
CurrentDebtDaysSecondary 82279
DebtOccuredOnForSecondary 82279
ExpectedLoss 2636
LossGivenDefault 2636
ExpectedReturn 2636
ProbabilityOfDefault 2636
DefaultDate 91614
PrincipalOverdueBySchedule 14837
PlannedPrincipalPostDefault 91614
PlannedInterestPostDefault 91614
EAD1 91614
EAD2 91614
PrincipalRecovery 91614
InterestRecovery 91614
RecoveryStage 57288
StageActiveSince 53575
ModelVersion 2636
Rating 2730
EL_V0 129960
Rating_V0 129960
EL_V1 121607
Rating_V1 121607
Rating_V2 109386
Status 0
Restructured 0
ActiveLateCategory 86011
WorseLateCategory 45456
CreditScoreEsMicroL 29574
CreditScoreEsEquifaxRisk 122310
CreditScoreFiAsiakasTietoRiskGrade 102011
CreditScoreEeMini 62807
PrincipalPaymentsMade 0
InterestAndPenaltyPaymentsMade 0
PrincipalWriteOffs 75400
InterestAndPenaltyWriteOffs 75400
PrincipalBalance 0
InterestAndPenaltyBalance 0
NoOfPreviousLoansBeforeLoan 0
AmountOfPreviousLoansBeforeLoan 0
PreviousRepaymentsBeforeLoan 43161
PreviousEarlyRepaymentsBefoleLoan 76503
PreviousEarlyRepaymentsCountBeforeLoan 0
GracePeriodStart 115741
GracePeriodEnd 115741
NextPaymentDate 68885
NextPaymentNr 36741
NrOfScheduledPayments 36741
ReScheduledOn 94207
PrincipalDebtServicingCost 75400
InterestAndPenaltyDebtServicingCost 75400
ActiveLateLastPaymentCategory 82279

In [26]:
# removing the columns having more than 40% missing values
missing_values=[]
for i in data.columns:
    if data[i].isnull().sum() >= (40*134529)/100:
        missing_values.append(i)
missing_values.remove("DefaultDate")

In [27]:
#This line of code assigns the variable miss_col to the value of missing_values
miss_col=missing_values

In [28]:
#This line of code creates a new DataFrame data1 by dropping the columns specified in the variable miss_col from the original DataFrame data
data1=data.drop(miss_col,axis=1)

In [29]:
#This line of code returns the shape of the DataFrame
data1.shape

(134529, 77)

In [34]:
#This line of code creates a list del_col containing the names of columns that are to be deleted or dropped from a DataFrame.
del_col=['ReportAsOfEOD', 'LoanId', 'LoanNumber', 'ListedOnUTC', 'DateOfBirth',
       'BiddingStartedOn','UserName','NextPaymentNr',
       'IncomeFromPrincipalEmployer', 'IncomeFromPension',
       'IncomeFromFamilyAllowance', 'IncomeFromSocialWelfare',
       'IncomeFromLeavePay', 'IncomeFromChildSupport', 'IncomeOther','LoanApplicationStartedDate','ApplicationSignedHour',
       'ApplicationSignedWeekday','ActiveScheduleFirstPaymentReached', 'PlannedInterestTillDate',
       'ExpectedLoss', 'LossGivenDefault', 'ExpectedReturn',
       'ProbabilityOfDefault', 'PrincipalOverdueBySchedule',
       'StageActiveSince', 'ModelVersion','WorseLateCategory']

In [36]:
#This line of code drops the rows from the DataFrame data1 where the 'Age' column has a value less than 18, in-place
data1.drop(data1[data1['Age']<18].index,inplace=True)

In [38]:
#removing unnecessary columns
data1.drop(del_col,axis=1,inplace=True)

In [39]:
#Representing the shape of the Dataset
data1.shape

(134476, 49)

In [41]:
#This line of code calculates the frequency count of unique values in the 'Status' column of the DataFrame data1 and returns the result as a new DataFrame.
data1.Status.value_counts()

Current    57135
Late       45772
Repaid     31569
Name: Status, dtype: int64

In [42]:
#This line of code creates a new DataFrame data1 by dropping the columns specified in the list date_cols from the original DataFrame, representing date-related columns
date_cols=['LoanDate','FirstPaymentDate','MaturityDate_Original','MaturityDate_Last','LastPaymentOn']
data1=data1.drop(date_cols,axis=1)

In [43]:
# filtering out Current Status records
data1=data1[data1.Status!='Current']

In [44]:
#This line of code calculates the frequency count of unique values in the 'Status' column of the DataFrame data1 after dropping certain date-related columns, and returns the result as a new DataFrame.
data1.Status.value_counts()

Late      45772
Repaid    31569
Name: Status, dtype: int64

In [47]:
#This line of code assigns the value 1 to both the 'DefaultStatus' and 'DefaultDate' columns in the DataFrame data1, indicating a default status for those rows
data1['DefaultStatus']=data1['DefaultDate'].fillna(0)
data1['DefaultStatus']=data1['DefaultDate']=1

In [48]:
#This line of code calculates the frequency count of unique values in the 'DefaultStatus' column of the DataFrame
data1.DefaultStatus.value_counts()

1    77341
Name: DefaultStatus, dtype: int64

In [49]:
#calculate the frequency count of unique values in the DefaultStatus column
data1.DefaultStatus.astype(int)

0         1
1         1
2         1
3         1
4         1
         ..
134524    1
134525    1
134526    1
134527    1
134528    1
Name: DefaultStatus, Length: 77341, dtype: int64

In [50]:
#This line of code converts the values in the 'DefaultStatus' column of the DataFrame data1 to numeric data type, in-place.
data1['DefaultStatus'] = pd.to_numeric(data1['DefaultStatus'])

In [51]:
#calculate the frequency count of unique values in the Education column
data1.Education.value_counts()

 4.0    28557
 5.0    20919
 3.0    17257
 2.0     5379
 1.0     5226
-1.0        3
Name: Education, dtype: int64

In [52]:
#This line of code maps specific values in the 'Education' column of the DataFrame data1 to corresponding educational levels, and replaces other values with 'Not_present'.
data1.loc[data1['Education']==1,"Education"]="Primary"
data1.loc[data1['Education']==2,"Education"]="Basic"
data1.loc[data1['Education']==3,"Education"]="Vocational"
data1.loc[data1['Education']==4,"Education"]="Secondary"
data1.loc[data1['Education']==5,"Education"]="Higher"
data1.loc[data1['Education'] == -1.0,"Education"] = 'Not_present'
data1.loc[data1['Education'] == 0.0,"Education"] = 'Not_present'

In [53]:
#calculate the frequency count of unique values in the VerificationType column
data1.VerificationType.value_counts()

4.0    41428
1.0    25626
3.0     8460
2.0     1827
Name: VerificationType, dtype: int64

In [55]:
#This line of code maps specific values in the 'VerificationType' column of the DataFrame data1 to corresponding verification types, replacing the values accordingly.
data1.loc[data1['VerificationType'] == 0.0,'VerificationType'] = 'Not_set'
data1.loc[data1['VerificationType'] == 1.0,'VerificationType'] = 'Income_unverified'
data1.loc[data1['VerificationType'] == 2.0,'VerificationType'] = 'Income_unverified_crossref_by_phone'
data1.loc[data1['VerificationType'] == 3.0,'VerificationType'] = 'Income_verified'
data1.loc[data1['VerificationType'] == 4.0,'VerificationType'] = 'Income_and_expenses_verified'

In [57]:
#calculate the frequency count of unique values in the Gender column
data1.Gender.value_counts()

0.0    50689
1.0    20927
2.0     5725
Name: Gender, dtype: int64

In [58]:
#This line of code maps specific values in the 'Gender' column of the DataFrame data1 to corresponding gender labels, replacing the values accordingly.
data1.loc[data1['Gender'] == 0.0,'Gender'] = 'Male'
data1.loc[data1['Gender'] == 1.0,'Gender']= 'Female'
data1.loc[data1['Gender'] == 2.0,'Gender'] = 'Unknown'

In [59]:
#calculate the frequency count of unique values in the LanguageCode column
data1.LanguageCode.value_counts()

1     33187
4     20302
6     16407
3      6534
2       602
9       293
22        6
5         5
15        1
10        1
13        1
7         1
21        1
Name: LanguageCode, dtype: int64

In [60]:
# This line of code maps specific value in the 'LanguageCode' column of the DataFrame data1 to corresponding languagecode labels, replacing the values  
data1.loc[data1['LanguageCode'] == 1,'LanguageCode'] = 'Estonian'
data1.loc[data1['LanguageCode'] == 2,'LanguageCode'] = 'English'
data1.loc[data1['LanguageCode'] == 3,'LanguageCode'] = 'Russian'
data1.loc[data1['LanguageCode'] == 4,'LanguageCode'] = 'Finnish'
data1.loc[data1['LanguageCode'] == 5,'LanguageCode'] = 'German'
data1.loc[data1['LanguageCode'] == 6,'LanguageCode'] = 'Spanish'
data1.loc[data1['LanguageCode'] == 9,'LanguageCode'] = 'Slovakian'
data1.loc[data1['LanguageCode'] == 7,'LanguageCode'] = 'Others'
data1.loc[data1['LanguageCode'] == 21,'LanguageCode'] = 'Others'
data1.loc[data1['LanguageCode'] == 22,'LanguageCode'] = 'Others'
data1.loc[data1['LanguageCode'] == 15,'LanguageCode'] = 'Others'
data1.loc[data1['LanguageCode'] == 13,'LanguageCode'] = 'Others'
data1.loc[data1['LanguageCode'] == 10,'LanguageCode'] = 'Others'

In [61]:
#calculate the frequency count of unique values in the UseOfLoan column
data1.UseOfLoan.value_counts()

-1    44177
 7     8926
 2     8102
 0     6419
 6     2884
 3     1743
 5     1621
 8     1367
 4     1259
 1      843
Name: UseOfLoan, dtype: int64

In [62]:
# This line of code maps specific value in the 'UseOfLoan' column of the DataFrame data1 to corresponding useofloan labels, replacing the values 
data1.loc[data1['UseOfLoan'] == -1,'UseOfLoan'] = 'Not_set'
data1.loc[data1['UseOfLoan'] == 0,'UseOfLoan'] = 'Loan_consolidation'
data1.loc[data1['UseOfLoan'] == 1,'UseOfLoan'] = 'Real_estate'
data1.loc[data1['UseOfLoan'] == 2,'UseOfLoan'] = 'Home_improvement'
data1.loc[data1['UseOfLoan'] == 3,'UseOfLoan'] = 'Business'
data1.loc[data1['UseOfLoan'] == 4,'UseOfLoan'] = 'Education'
data1.loc[data1['UseOfLoan'] == 5,'UseOfLoan'] = 'Travel'
data1.loc[data1['UseOfLoan'] == 6,'UseOfLoan'] = 'Vehicle'
data1.loc[data1['UseOfLoan'] == 7,'UseOfLoan'] = 'Other'
data1.loc[data1['UseOfLoan'] == 8,'UseOfLoan'] = 'Health'
data1.loc[data1['UseOfLoan'] == 101,'UseOfLoan'] = 'Working_capital_financing'
data1.loc[data1['UseOfLoan'] == 102,'UseOfLoan'] = 'Purchase_of_machinery_equipment'
data1.loc[data1['UseOfLoan'] == 104,'UseOfLoan'] = 'Accounts_receivable_financing'
data1.loc[data1['UseOfLoan'] == 106,'UseOfLoan'] = 'Construction_finance'
data1.loc[data1['UseOfLoan'] == 107,'UseOfLoan'] = 'Acquisition_of_stocks'
data1.loc[data1['UseOfLoan'] == 108,'UseOfLoan'] = 'Acquisition_of_real_estate'
data1.loc[data1['UseOfLoan'] == 110,'UseOfLoan'] = 'Other_business'

In [64]:
#calculate the frequency count of unique values in the MaritalStatus column
data1.MaritalStatus.value_counts()

-1.0    44177
 3.0    11504
 1.0     9585
 2.0     8479
 4.0     3077
 5.0      519
Name: MaritalStatus, dtype: int64

In [65]:
# This line of code maps specific value in the 'MaritalStatus' column of the DataFrame data1 to corresponding maritalstatus labels, replacing the values 
data1.loc[data1['MaritalStatus']==-1,"MaritalStatus"]="Not_specified"
data1.loc[data1['MaritalStatus']==0,"MaritalStatus"]="Not_specified"
data1.loc[data1['MaritalStatus']==1,"MaritalStatus"]="Married"
data1.loc[data1['MaritalStatus']==2,"MaritalStatus"]="Cohabitant"
data1.loc[data1['MaritalStatus']==3,"MaritalStatus"]="Single"
data1.loc[data1['MaritalStatus']==4,"MaritalStatus"]="Divorced"
data1.loc[data1['MaritalStatus']==5,"MaritalStatus"]="Widow"

In [66]:
#calculate the frequency count of unique values in the OccupationArea column
data1.OccupationArea.value_counts()

-1.0     44228
 1.0      7640
 7.0      3207
 6.0      3007
 3.0      2876
 8.0      2276
 17.0     2186
 9.0      2106
 10.0     1782
 15.0     1555
 16.0     1251
 11.0     1054
 19.0      893
 14.0      798
 4.0       530
 18.0      524
 13.0      493
 12.0      433
 5.0       342
 2.0       116
 0.0         3
Name: OccupationArea, dtype: int64

In [67]:
# This line of code maps specific value in the 'OccupationArea' column of the DataFrame data1 to corresponding occupationarea labels, replacing the values 
data1.loc[data1['OccupationArea'] == 1,'OccupationArea'] = 'Other'
data1.loc[data1['OccupationArea'] == 2,'OccupationArea'] = 'Mining'
data1.loc[data1['OccupationArea'] == 3,'OccupationArea'] = 'Processing'
data1.loc[data1['OccupationArea'] == 4,'OccupationArea'] = 'Energy'
data1.loc[data1['OccupationArea'] == 5,'OccupationArea'] = 'Utilities'
data1.loc[data1['OccupationArea'] == 6,'OccupationArea'] = 'Construction'
data1.loc[data1['OccupationArea'] == 7,'OccupationArea'] = 'Retail_and_wholesale'
data1.loc[data1['OccupationArea'] == 8,'OccupationArea'] = 'Transport_and_warehousing'
data1.loc[data1['OccupationArea'] == 9,'OccupationArea'] = 'Hospitality_and_catering'
data1.loc[data1['OccupationArea'] == 10,'OccupationArea'] = 'Info_and_telecom'
data1.loc[data1['OccupationArea'] == 11,'OccupationArea'] = 'Finance_and_insurance'
data1.loc[data1['OccupationArea'] == 12,'OccupationArea'] = 'Real_estate'
data1.loc[data1['OccupationArea'] == 13,'OccupationArea'] = 'Research'
data1.loc[data1['OccupationArea'] == 14,'OccupationArea'] = 'Administrative'
data1.loc[data1['OccupationArea'] == 15,'OccupationArea'] = 'Civil_service_and_military'
data1.loc[data1['OccupationArea'] == 16,'OccupationArea'] = 'Education'
data1.loc[data1['OccupationArea'] == 17,'OccupationArea'] = 'Healthcare_and_social_help'
data1.loc[data1['OccupationArea'] == 18,'OccupationArea'] = 'Art_and_entertainment'
data1.loc[data1['OccupationArea'] == 19,'OccupationArea'] = 'Agriculture_forestry_and_fishing'
data1.loc[data1['OccupationArea'] == -1.0,'OccupationArea'] = 'Not_specified'
data1.loc[data1['OccupationArea'] == 0.0,'OccupationArea'] = 'Not_specified'

In [69]:
#calculate the frequency count of unique values in EMploymentStatus column
data1.EmploymentStatus.value_counts()

-1.0    44177
 3.0    27309
 5.0     1695
 6.0     1663
 4.0     1211
 2.0     1110
 0.0       24
Name: EmploymentStatus, dtype: int64

In [70]:
# This line of code maps specific value in the 'EmploymentStatus' column of the DataFrame data1 to corresponding employmentstatus labels, replacing the values
data1.loc[data1['EmploymentStatus']==1,"EmploymentStatus"]="Un-Employed"
data1.loc[data1['EmploymentStatus']==2,"EmploymentStatus"]="Partially-Employed"
data1.loc[data1['EmploymentStatus']==3,"EmploymentStatus"]="Fully-Employed"
data1.loc[data1['EmploymentStatus']==4,"EmploymentStatus"]="Self-Employed"
data1.loc[data1['EmploymentStatus']==5,"EmploymentStatus"]="Entrepreneur"
data1.loc[data1['EmploymentStatus']==6,"EmploymentStatus"]="Retiree"
data1.loc[data1['EmploymentStatus']==-1,"EmploymentStatus"]="Unknown"
data1.loc[data1['EmploymentStatus']==0,"EmploymentStatus"]="Unknown"

In [71]:
#calculate the frequency count of unique values in HomeOwnership column
data1.HomeOwnershipType.value_counts()

 1.0     24594
 3.0     16842
 2.0     12776
 8.0      8762
 4.0      4031
 10.0     3179
 7.0      2701
 6.0      1362
 5.0       882
 9.0       565
 0.0        38
-1.0         2
Name: HomeOwnershipType, dtype: int64

In [72]:
# This line of code maps specific value in the 'HomeOwnershipType' column of the DataFrame data1 to corresponding homeownershiptype labels, replacing the values
data1.loc[data1['HomeOwnershipType']==0,"HomeOwnershipType"]="Homeless"
data1.loc[data1['HomeOwnershipType']==1,"HomeOwnershipType"]="Owner"
data1.loc[data1['HomeOwnershipType']==2,"HomeOwnershipType"]='Living_with_parents'
data1.loc[data1['HomeOwnershipType']==3,"HomeOwnershipType"]='Tenant_pre_furnished_property'
data1.loc[data1['HomeOwnershipType']==4,"HomeOwnershipType"]="Tenant_unfurnished_property"
data1.loc[data1['HomeOwnershipType']==5,"HomeOwnershipType"]="Council_house"
data1.loc[data1['HomeOwnershipType']==6,"HomeOwnershipType"]="Joint_tenant"
data1.loc[data1['HomeOwnershipType']==7,"HomeOwnershipType"]="Joint_Ownership"
data1.loc[data1['HomeOwnershipType']==8,"HomeOwnershipType"]="Mortgage"
data1.loc[data1['HomeOwnershipType']==9,"HomeOwnershipType"]='Owner_with_encumbrance'
data1.loc[data1['HomeOwnershipType']==10,"HomeOwnershipType"]="Other"
data1.loc[data1['HomeOwnershipType']==-1,"HomeOwnershipType"]="Unknown"

In [74]:
#This line of code calculates the frequency count of unique values in the 'NewCreditCustomer' column of the DataFrame data1 and returns the result as a new DataFrame.
data1.NewCreditCustomer.value_counts()

True     48821
False    28520
Name: NewCreditCustomer, dtype: int64

In [76]:
#This line of code calculates the frequency count of unique values in the 'Restructured' column of the DataFrame data1 and returns the result as a new DataFrame.
data1.Restructured.value_counts()

False    61840
True     15501
Name: Restructured, dtype: int64

In [77]:
#This line of code maps specific values in the 'NewCreditCustomer' and 'Restructured' columns of the DataFrame data1 to corresponding labels, replacing the values accordingly.
data1.loc[data1['NewCreditCustomer'] == False,'NewCreditCustomer'] = 'Existing_credit_customer'
data1.loc[data1['NewCreditCustomer'] == True,'NewCreditCustomer'] = 'New_credit_Customer'
data1.loc[data1['Restructured'] == False,'Restructured']='No'
data1.loc[data1['Restructured'] == True,'Restructured']='Yes'

In [78]:
#This line of code drops the columns specified in the list 
drop_defaultdate_status=['DefaultDate','Status']
data1.drop(drop_defaultdate_status,axis=1,inplace=True)

In [79]:
#This line of code references the DataFrame
data1

,BidsPortfolioManager,BidsApi,BidsManual,NewCreditCustomer,VerificationType,LanguageCode,Age,Gender,Country,AppliedAmount,...,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,NrOfScheduledPayments,DefaultStatus
0,0,0,115.0410,New_credit_Customer,Income_unverified_crossref_by_phone,Estonian,61,Female,EE,319.5582,...,115.0408,20.4222,0.00,0.00,1,83.0852,0.0000,0,NaN,1
1,0,0,140.6057,Existing_credit_customer,Income_unverified_crossref_by_phone,Estonian,48,Female,EE,191.7349,...,140.6057,2.0227,0.00,0.00,2,255.6467,258.6256,0,NaN,1
2,0,0,319.5580,New_credit_Customer,Income_unverified_crossref_by_phone,Estonian,58,Female,EE,319.5582,...,203.1909,59.7626,116.35,414.07,0,0.0000,0.0000,0,NaN,1
3,0,0,57.5205,New_credit_Customer,Income_unverified_crossref_by_phone,Estonian,23,Female,EE,127.8233,...,57.5205,18.7323,0.00,0.00,1,134.2144,0.0000,0,NaN,1
4,0,0,319.5582,New_credit_Customer,Income_unverified_crossref_by_phone,Estonian,25,Female,EE,319.5582,...,319.5436,220.4200,0.00,0.00,1,146.9966,0.0000,0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134524,2515,0,485.0000,New_credit_Customer,Income_verified,Finnish,37,Male,FI,3000.0000,...,2308.1900,0.0000,0.00,0.00,0,0.0000,0.0000,0,NaN,1
134525,1880,0,1120.0000,Existing_credit_customer,Income_verified,Finnish,35,Male,FI,3000.0000,...,3000.0000,1990.0300,0.00,0.00,1,3000.0000,389.3600,0,NaN,1
134526,1975,0,525.0000,New_credit_Customer,Income_unverified,Finnish,40,Male,FI,2500.0000,...,1869.7600,199.3300,630.24,1227.98,0,0.0000,0.0000,0,60.0,1
134527,1840,0,1160.0000,Existing_credit_customer,Income_and_expenses_verified,Estonian,47,Female,EE,3000.0000,...,2257.5400,561.5300,0.00,0.00,1,500.0000,96.8000,0,NaN,1
134528,2990,0,10.0000,Existing_credit_customer,Income_and_expenses_verified,Estonian,21,Female,EE,3000.0000,...,1473.9100,683.2100,1526.09,9019.04,1,2500.0000,242.6400,0,60.0,1